[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pipenv-to-reqirements = "*"
v = {editable = true,version = "*"}
pipenv-to-requirements = "*"

[packages]
requests = "*"
pika = "*"
redis = "*"
uuid = "*"
passlib = "*"
Flask = "==1.1.*"
Flask-Security = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"

[requires]
python_version = "3.7"
